@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
$primary: #08246c;
$info: #61f098;
$danger: #ff9100;
$success: #12eaee;

* {
  font-family: "Fredoka", sans-serif;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
